[Unit]
Description=Alerter bot for alerts in telegram
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ultra/alerter
ExecStart=go run alerter.go
Restart=always
TimeoutSec=60

[Install]
WantedBy=multi-user.target
