[Unit]
Description=Alerter bot for alerts in telegram
After=network-online.target local-fs.target alertmanager.service
Wants=network-online.target local-fs.target

[Service]
User=alerter
Group=alerter
EnvironmentFile=/etc/sysconfig/alerter
ExecStart=/usr/bin/alerter
Restart=on-failure
KillMode=process