{{ if eq .Status "firing" }}
🔥 Firing 🔥
{{ else if eq .Status "resolved" }}
✔️ Resolved ✔️
{{ end }}

*{{ .Labels.alertname }}*

{{- range .Alerts -}}

{{ if .Labels.building }}
*Building*: {{ .Labels.building }}
{{ end }}
{{ if .Labels.instance }}
*Instance*: {{ .Labels.instance }}
{{ end }}

{{ if .Annotations.summary }}
*Summary*: {{ .Annotations.summary }}
{{ end }}
{{ if .Annotations.description }}
*Description*: {{ .Annotations.description }}
{{ end }}

*Duration*: {{ duration .StartsAt .EndsAt }}
{{ if ne .Status "firing"}}
*Ended*: {{ .EndsAt | since }}
{{ end }}

{{- end -}}