{{ if eq .Status "firing" }}
🔥 Firing 🔥
{{ else if eq .Status "resolved" }}
✅ Resolved ✅
{{ end }}
{{- range .Alerts }}
*{{ .Labels.alertname }}*
{{- if .Labels.building }}
*Building*: {{ .Labels.building }}
{{- end }}
{{- if .Labels.instance }}
*Instance*: {{ .Labels.instance }}
{{- end }}
{{- if .Labels.host }}
*Host*: {{ .Labels.host }}
{{- end }}
{{- if .Annotations.summary }}
*Summary*: {{ .Annotations.summary }}
{{- end }}
{{- if .Annotations.description }}
*Description*: {{ .Annotations.description }}
{{- end }}
*Duration*: {{ duration .StartsAt .EndsAt }}
{{- if ne $.Status "firing"}}
*Ended*: {{ .EndsAt | since }}
{{- end }}
{{- end }}