[Unit]
Description=Telegram bot for alerts from Alertmanager
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target

[Service]
User=alerter
Group=alerter
EnvironmentFile=/etc/sysconfig/alerter
ExecStart=/usr/bin/alerter
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
